@{
    ViewData["Title"] = "Cabello";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 style="padding-top: 25px;">Cabello</h1>
    <div class="divider"></div>
    <div class="sort-container">
        <label for="sort">Ordenar por</label>
        <select id="sort">
            <option>Choose</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>
    </div>

    <div class="row">
        <div class="col-6 col-md-4 mb-4">
            <div class="card">
                <img src="~/img/xGray.png" class="card-img-top" alt="Feature">
                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Feature</h5>
                    <p class="card-description">This is a brief description of the product. It provides key details and
                        benefits.</p>
                    <p class="card-text">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                    <div class="btn-group-vertical">
                        <a href="product.html" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Agregar al
                            carrito</a>
                        <a href="@Url.Action("ProductoDetail","Producto")" class="btn btn-secondary"><i class="fas fa-info-circle"></i> Acerca
                            de</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat the above block for more cards -->
        <div class="col-6 col-md-4 mb-4">
            <div class="card">
                <img src="~/img/xGray.png" class="card-img-top" alt="Feature">
                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Feature</h5>
                    <p class="card-description">This is a brief description of the product. It provides key details and
                        benefits.</p>
                    <p class="card-text">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                    <div class="btn-group-vertical">
                        <a href="product.html" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Agregar al
                            carrito</a>
                        <a href="@Url.Action("ProductoDetail","Producto")" class="btn btn-secondary"><i class="fas fa-info-circle"></i> Acerca
                            de</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4">
            <div class="card">
                <img src="~/img/xGray.png" class="card-img-top" alt="Feature">
                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Feature</h5>
                    <p class="card-description">This is a brief description of the product. It provides key details and
                        benefits.</p>
                    <p class="card-text">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                    <div class="btn-group-vertical">
                        <a href="product.html" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Agregar al
                            carrito</a>
                        <a href="@Url.Action("ProductoDetail","Producto")" class="btn btn-secondary"><i class="fas fa-info-circle"></i> Acerca
                            de</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4">
            <div class="card">
                <img src="~/img/xGray.png" class="card-img-top" alt="Feature">
                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Feature</h5>
                    <p class="card-description">This is a brief description of the product. It provides key details and
                        benefits.</p>
                    <p class="card-text">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                    <div class="btn-group-vertical">
                        <a href="product.html" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Agregar al
                            carrito</a>
                        <a href="@Url.Action("ProductoDetail","Producto")" class="btn btn-secondary"><i class="fas fa-info-circle"></i> Acerca
                            de</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
